body {
    background-image: linear-gradient(to right, #bdc2ff, #bdfcff);
    
    
}

h1.logo{
    border: 5px solid black;
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(/img/logo%20if.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-color: white !important;
    box-shadow: 0px 0px 20px black;
}

h1.tit{
    font-size: 80px;
    text-shadow: 0px 0px 7px blue;
    text-align: center;
    margin: 5%;
}

div.inf{
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 0px 10px grey;
    margin: 5%;
    
}

h2.outro{
    font-size: 55px;
    text-align: center;
}

div.intro, div.suma{
    border: 6px solid black;
    border-radius: 25%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #dbf4ff !important;
    box-shadow: 0px 0px 20px black;
    margin-top: 10%;
    margin-bottom: 10%;
}